/* Variables */
.hero {
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
}
.hero ._blanca {
  padding: 7%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(240, 240, 240);
}
.hero ._blanca ._img_hero {
  aspect-ratio: 16/9;
  height: 50%;
  width: 50%;
  padding-left: 10%;
}
.hero ._blanca ._texto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero ._blanca ._texto h2 {
  font-size: 7rem;
}
.hero ._madera {
  padding: 7%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: rgb(126, 60, 40);
  color: rgb(240, 240, 240);
}
.hero ._madera ._img_hero {
  aspect-ratio: 16/9;
  height: 50%;
  width: 50%;
  padding-right: 10%;
}
.hero ._madera ._texto {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.hero ._madera ._texto h2 {
  font-size: 7rem;
}

/* Mediaqueries HERO */
@media screen and (max-width: 850px) {
  .hero {
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
  }
  .hero ._blanca {
    padding: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(240, 240, 240);
  }
  .hero ._blanca ._img_hero {
    aspect-ratio: 16/9;
    height: 50%;
    width: 66%;
    padding: 5%;
  }
  .hero ._blanca ._texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
  }
  .hero ._blanca ._texto h2 {
    font-size: 3rem;
  }
  .hero ._madera {
    padding: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(126, 60, 40);
    color: rgb(240, 240, 240);
  }
  .hero ._madera ._img_hero {
    aspect-ratio: 16/9;
    height: 50%;
    width: 66%;
    padding: 5%;
  }
  .hero ._madera ._texto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-size: 1rem;
  }
  .hero ._madera ._texto h2 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 550px) {
  ._blanca ._texto p {
    font-size: 0.5rem;
  }
  ._blanca ._texto h2 {
    font-size: 1.5rem;
  }
  ._madera ._texto p {
    font-size: 0.5rem;
  }
  ._madera ._texto h2 {
    font-size: 1.5rem;
  }
}
/* PreFooter */
.prefooter {
  display: flex;
  justify-content: space-around;
  background-color: rgb(126, 60, 40);
  padding: 4% 0 3% 0;
}
.prefooter p {
  padding: 10px 0 10px 0;
  color: rgb(240, 240, 240);
  font-size: 1.5rem;
}
.prefooter a {
  color: rgb(240, 240, 240);
}
.prefooter a:hover {
  color: #ffffff;
}

._enlaces {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
._enlaces a {
  text-decoration: none;
}

._contacto {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
._contacto ._redes {
  display: flex;
  justify-content: space-between;
  color: rgb(240, 240, 240);
  font-size: 1.5rem;
}

.footer_negro {
  display: flex;
  justify-content: space-around;
  padding: 1%;
  background-color: #000;
  color: rgb(240, 240, 240);
}

/* Footer mediaqueries */
@media screen and (max-width: 550px) {
  .prefooter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(126, 60, 40);
    padding: 7% 0 7% 0;
  }
  .prefooter .mapa {
    width: 1%;
    height: 1%;
  }
  .prefooter p {
    padding: 10px 0 10px 0;
    color: rgb(240, 240, 240);
    font-size: 1.5rem;
  }
  .prefooter a {
    color: rgb(240, 240, 240);
  }
  .prefooter a:hover {
    color: #ffffff;
  }
  ._enlaces {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 3% 0 5% 0;
    align-items: center;
  }
  ._contacto {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 3%;
    align-items: center;
  }
  ._contacto ._redes {
    display: flex;
    justify-content: space-between;
    color: rgb(240, 240, 240);
    font-size: 1.5rem;
    gap: 21px;
  }
  .footer_negro {
    display: flex;
    justify-content: space-around;
    padding: 1%;
    font-size: 0.4rem;
    background-color: #000;
    color: rgb(240, 240, 240);
  }
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  background-color: rgb(126, 60, 40);
}

._logo {
  max-width: 5rem;
  padding-left: 5%;
  font-size: 3rem;
  color: rgb(240, 240, 240);
}

._nav_list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}
._nav_list li a {
  text-decoration: none;
  color: rgb(240, 240, 240);
  font-size: 1.2rem;
}
._nav_list li a:hover {
  color: #ffffff;
}

._abrir_menu,
._cerrar_menu {
  display: none;
}

/* Media queries navbar */
@media screen and (max-width: 550px) {
  header {
    display: flex;
    justify-content: space-between;
  }
  ._abrir_menu,
  ._cerrar_menu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }
  ._abrir_menu {
    color: #fff;
  }
  ._cerrar_menu {
    color: #fff;
  }
  ._nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(126, 60, 40);
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }
  ._nav.visible {
    opacity: 1;
    visibility: visible;
  }
  ._nav_list {
    flex-direction: column;
    align-items: end;
  }
  ._nav_list li a {
    color: #fff;
  }
}
.catalogo_news {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/annie-spratt-cFwJUOUlOdc-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 6%;
}

._formulario {
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
  border: solid 4px rgb(126, 60, 40);
  padding: 10%;
}
._formulario h3 {
  padding: 0 0 30px 0;
  color: rgb(126, 60, 40);
}
._formulario form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6%;
  justify-content: space-between;
}

/* Estilo global */
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  box-sizing: border-box;
}

/* Boton de whatsapp */
.whatsapp-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #008f39;
  color: rgb(240, 240, 240);
  padding: 10px 20px;
  border-radius: 50%;
  font-size: 20px;
  text-decoration: none;
  z-index: 1000;
}

/*# sourceMappingURL=style.css.map */
