@use 'variables';


.hero{
    display: flex;
    flex-direction: column;
    background-color: variables.$colorSecundario;
    
    ._blanca{
        padding: 7%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: variables.$colorSecundario;
        
        & ._img_hero{
            aspect-ratio: 16 / 9;
            height: 50%;
            width: 50%;
            padding-left: 10%;
        }

        & ._texto{
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            & h2{
                font-size: 7rem;

            }
        }

    }


    ._madera{
        padding: 7%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        background-color: variables.$colorMadera;
        color: variables.$colorSecundario;

        & ._img_hero{
            aspect-ratio: 16 / 9;
            height: 50%;
            width: 50%;
            padding-right: 10%;
        }

        & ._texto{
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            & h2{
                font-size: 7rem;
            }
        }
    }   
}

/* Mediaqueries HERO */
@media screen and (max-width: 850px){ 
    .hero{
        display: flex;
        flex-direction: column;
        background-color: variables.$colorSecundario;
            
        ._blanca{
            padding: 7%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            background-color: variables.$colorSecundario;
                
            & ._img_hero{
                aspect-ratio: 16 / 9;
                height: 50%;
                width: 66%;
                padding: 5%;
            }
        
            & ._texto{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                font-size: 1rem;

        
                & h2{
                    font-size: 3rem;
        
                }
            }
        
        }
        
        
        ._madera{
            padding: 7%;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: variables.$colorMadera;
            color: variables.$colorSecundario;
        
            & ._img_hero{
                aspect-ratio: 16 / 9;
                height: 50%;
                width: 66%;
                padding: 5%;
            }
        
            & ._texto{
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;
                font-size: 1rem;
        
                & h2{
                        font-size: 3rem;
                }
            }
        }   
    }
}

@media screen and (max-width: 550px) {
    ._blanca ._texto p{
        font-size: 0.5rem;
    } 

    ._blanca ._texto h2{
        font-size: 1.5rem;
    } 

    ._madera ._texto p{
        font-size: 0.5rem;
    }

    ._madera ._texto h2{
        font-size: 1.5rem;
    } 
}
    
    
