@use 'variables';
@use 'hero';
@use 'footer';
@use 'navbar';
@use 'catalogo';

/* Estilo global */
*{
    padding: 0;
    margin: 0;
    font-family: "Poppins";
    box-sizing: border-box;
}
/* Boton de whatsapp */

.whatsapp-btn {
    position: fixed;
    bottom: 20px; 
    right: 20px;
    background-color: #008f39; 
    color: variables.$colorSecundario; 
    padding: 10px 20px;
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    z-index: 1000; 
}



